/*
Warna yang digunakan untuk website ini adalah:
#400FF2 , #150940 , #30168C , #1F0E59 , #D2F25C
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(#400FF2, #1F0E59);
}

table{
    border-radius: 10px;
    width: 300px;
    height: 40px;
}
.tbl1{
    background-color: #400FF2;
}
.tbl2{
    background-color: #150940;
}
.tbl3{
    background-color: #30168C;
}
.tbl4{
    background-color: #1F0E59;
}
.tbl5{
    background-color: #D2F25C;
}

.clock {
    font-size: 20px;
    color: #150940;
    background-color: #D2F25C;
    height: 25% auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    border-radius: 10px;
    animation: jam 2s cubic-bezier(0.5, 0, 0.75, 0) 1.5s 1 reverse none;
}

@keyframes jam {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

.jam{
    border-collapse: separate;
    border-spacing: 10px 0;
    width: 100%;
}

.jam td{
    text-align: center;
}

.artikel{
    background: linear-gradient(#150940, #30168f);
    height: max-content;
    border-radius: 5%;
    padding: 5%;
    margin-top: 2% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: artikel 2s cubic-bezier(0.5, 0, 0.75, 0) 1.5s 1 reverse none;
}

@keyframes artikel {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

.artikel img {
    border-radius:10%;
    width: 50%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow:0px 0px 100px 20px rgba(64,15,242,0.5);
    -moz-box-shadow: 0px 0px 100px 20px rgba(64,15,242,0.5);
    box-shadow: 0px 0px 100px 20px rgba(64,15,242,0.5);
}

.text_profile{
    padding-top: 5%;
    color: #D2F25C ;
    display: flex;
    justify-content: center;
    font-size: 150%;
}

@media (min-width: 768px) {
    .artikel {
        flex-direction: row; 
        align-items: center;
    }
    .text_profile {
        padding-top: 0;
        padding-left: 5%;
        text-align: left;
    }
}